# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Virtual Environment
venv/
.env

# Ignore large image folders (Optional: Keep input_images if small, ignore outputs)
output_serial/
output_concurrent/
output_serial_bench/

# Ignore system files
.DS_Store